---
import MainLayout from "../layouts/MainLayout.astro"
const posts = await Astro.glob("../pages/blogs/*.md")
---
<MainLayout>
	<ul>
		{posts.map(post => <li><a href={post.frontmatter.url}>{post.frontmatter.title}</a></li>)}
	</ul>
</MainLayout>