---
const {tags} = Astro.props

type Tag = string

---

<nav>
{tags.map((tag:Tag) => (
  <a href="../tags">#{tag}</a>
))}
</nav>

<style>
  a {
    @apply mr-2　hover:text-blue-500 duration-300;
  }
</style>
